<pc-header></pc-header>

<main>
  <div class="grid-container">
    <div class="welcome-text">
      <h1 class="heading">
        <span class="text-dark">Самая вкусная пицца в мире</span>
        <br>
        <span class="text-light">только в Pizza Cheff</span>
      </h1>
      <div class="text">
        <div class="point-item">
          <img src="assets/images/hop.svg" alt="Icon">
          <div>
            <h3>Лучшее тесто</h3>
            <p>Мы создаем тесто только из отборной итальянской муки наивысшего качества</p>
          </div>
        </div>
        <div class="point-item">
          <img src="assets/images/kitchen-pack.svg" alt="Icon">
          <div>
            <h3>лучшие повара</h3>
            <p>Пиццы готовят самые профессиональные итальянские повара</p>
          </div>
        </div>
        <div class="point-item">
          <img src="assets/images/seo-and-web.svg" alt="Icon">
          <div>
            <h3>гарантия качества</h3>
            <p>Наша пиццерия получила множество наград и признаний по всему миру</p>
          </div>
        </div>
        <div class="point-item">
          <img src="assets/images/holidays.svg" alt="Icon">
          <div>
            <h3>отборные рецепты</h3>
            <p>Мы используем рецепты от мировых лидеров в изготовлении пиццы</p>
          </div>
        </div>
      </div>
      <pc-button name="Выбрать пиццу"/>
    </div>

    <div class="welcome-image">
      <img src="assets/images/pizza_big.png" alt="Pizza">
    </div>
  </div>

  <div class="grid-container pizza-container">
    <h2 class="block-heading">Выберите свою любимую пиццу</h2>

    <div class="grid-container pizza-cards">
      @for (pizza of (pizza$ | async); track pizza) {
        <pc-pizza-card [pizza]="pizza"></pc-pizza-card>
      }
    </div>
  </div>

  <div class="grid-container form-container">
    <div class="form-text">
      <h2>
        <span class="text-light">Хватит думать!</span>
        <br>
        <span class="text-dark">Доставим заказ за 30 минут!</span>
      </h2>

      <p>Мы  гарантированно доставим вашу пиццу за 30 минут с момента оформления заказа. Если мы опоздаем даже на 1 минуту - вы получаете весь заказ бесплатно и ваучер на скидку на следующий заказ.
        Мы гордимся нашим сервисом и сделаем всё, чтобы наш клиент был доволен и не остался голодный!</p>
    </div>

    <div class="form">
      <pc-profile-form></pc-profile-form>
    </div>

    <div class="form-image">
      <img src="assets/images/slice.png" alt="Pizza slice">
    </div>
  </div>
</main>

