@import "variables";

button {
  background: $accent;
  color: $brown;
  border: none;
  padding: 0;
  cursor: pointer;
  transition: filter 0.3s ease;
  font-size: 16px;
  font-weight: 600;
}

button:hover {
  filter: brightness(1.2);
}

button:disabled {
  filter: saturate(10%);
}
