* {
  font-family: "Montserrat", sans-serif;
}

body {
  margin: 0;
}

.flex-container {
  height: 100%;
  display: flex;
  align-items: center;
}

.grid-container {
  max-width: 1200px; /* Maximum width for content */
  width: 100%; /* Ensures responsiveness on smaller screens */
  display: grid;
  grid-template-columns: repeat(12, 78px); /* 12 columns, each 78px wide */
  grid-gap: 24px; /* 24px gap between columns */
}

.container {
  max-width: 1200px;
  width: 100%;
}

@media (max-width: 1200px) {
  .grid-container {
    grid-template-columns: repeat(12, 1fr); /* Responsive columns */
    grid-gap: 16px; /* Smaller gap for smaller screens */
  }
}
