@import '@angular/material/prebuilt-themes/azure-blue.css';
* {
  font-family: "Montserrat", sans-serif;
}

body {
  margin: 0;
}

.flex-container {
  height: 100%;
  display: flex;
  align-items: center;
}

.grid-container {
  max-width: 1200px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(12, 78px);
  grid-gap: 60px 24px;
}

@media (max-width: 1200px) {
  .grid-container {
    grid-template-columns: repeat(12, 1fr); /* Responsive columns */
    grid-gap: 16px; /* Smaller gap for smaller screens */
  }
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
