//:root {
  $default: #b99150;
  $accent: #ffaf18;
  $placeholder: #cba86e;

  $dark-text: #b99050;
  $more-dark: #bd985c;
  $menu-text: #a46b00;
  $logo: #ffc468;

  $btn-font: #020303;
  // main button + pizza title
  $brown: #382400;
  $pizza-description: #181a1a;
//}

