$default: #b99150;
$accent: #ffaf18;
$placeholder: #cba86e;

$dark-text: #b99050;
$section-heading: #bd985c;
$menu-text: #a46b00;
$logo: #ffc468;

$btn-font: #020303;
$brown: #382400;
$pizza-description: #181a1a;

